<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255902568650-mqnrlo4ata491l6aum917unukttntoc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255902568650-mqnrlo4ata491l6aum917unukttntoc0</string>
	<key>API_KEY</key>
	<string>AIzaSyBYA5yEWU2hkOLlaH5cggZ7hHicT54u1Gw</string>
	<key>GCM_SENDER_ID</key>
	<string>255902568650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucasnewlands.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-c4523</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-c4523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255902568650:ios:a7cfff3237553670f0a433</string>
</dict>
</plist>